openapi: 3.1.0
info:
  title: JetBrains Marketplace Plugins Updates API
  description: 'Subset of the JetBrains Plugin Marketplace REST API covering plugin lookup,

    plugin details, and authenticated plugin upload.

    '
  version: '1.0'
  contact:
    name: JetBrains Marketplace
    url: https://plugins.jetbrains.com/docs/marketplace/api-reference.html
servers:
- url: https://plugins.jetbrains.com
  description: JetBrains Plugin Marketplace
tags:
- name: Updates
paths:
  /api/updates/upload:
    post:
      summary: Upload a plugin update
      description: Uploads a new plugin update to the JetBrains Marketplace. Max 400 MB.
      operationId: uploadPluginUpdate
      security:
      - bearerToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                pluginId:
                  type: string
                  description: Numeric plugin id (use this OR xmlId)
                xmlId:
                  type: string
                  description: Plugin XML id (use this OR pluginId)
                file:
                  type: string
                  format: binary
                  description: Plugin archive (.jar, .zip, or .nupkg)
                channel:
                  type: string
                  description: Release channel (defaults to Stable)
                isHidden:
                  type: boolean
                  description: Hide the update after approval
                containsAds:
                  type: boolean
                  description: Declares plugin contains ads
      responses:
        '200':
          description: Upload accepted
        '401':
          description: Missing or invalid token
        '413':
          description: Plugin exceeds the 400 MB size limit
      tags:
      - Updates
components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      bearerFormat: PermanentToken
      description: JetBrains Hub permanent token
